{% extends "base.html" %}

{% block body %}

<div class="flex-container-row-center">
    <div class="flex-column">
        <div class="search-bar-long">
            <form class="search-bar-long" id="search-ai-model" method="post">
                <div class="flex-container-row-center">
                    {% if name_query %}
                        <input class="search-bar" name="name" value="{{name_query}}" type="text">
                    {% else %}
                        <input class="search-bar" name="name" placeholder="Find ai models!" type="text">
                    {% endif %}

                    {# I want every information to be encoded in url. #}
                    {# In order to do that, this form must include all the information in the query. #}
                    <input name="tags" value="{{tags_str}}" type="text" style="display: none;">

                    <input class="submit-button" type="submit" value="Search">
                </div>
            </form>
        </div>
        <div class="flex-container-row-center">
            <div class="tags">
                {% for tag in tags %}
                    <a class={% if tag.selected %}"selected-tag"{% else %}"unselected-tag"{% endif %} href="?{% if name_query %}name={{name_query}}&{% endif %}tags={{tag.href}}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="model-list">
    <div class="flex-container-lr model-list-header">
        <div class="markdown">
            models {{model_seq_start}} ~ {{model_seq_end}}

            {% if prev_page_href %}
                <a href="{{prev_page_href}}">prev page</a>
            {% endif %}

            {% if next_page_href %}
                <a href="{{next_page_href}}">next page</a>
            {% endif %}
        </div>
        <div>
            <span onclick="open_help_modal_box()" style="cursor: pointer;">Help</span>
            <div id="help-modal">
                <div class="box">
                    <div class="top-bar" onclick="close_help_modal_box()">X</div>
                    <div class="content markdown">{{help_message|markdown|safe}}</div>
                </div>
            </div>
            <script>
                var help_modal_box = document.getElementById("help-modal");

                function open_help_modal_box() {
                    help_modal_box.style.display = "block";
                }

                function close_help_modal_box() {
                    help_modal_box.style.display = "none";
                }
            </script>
        </div>
    </div>

    {% for model in models %}
        <div class="model-card">
            <div class="flex-container-lr">
                <div>{{model.name|safe}}</div>
                <div>
                    <span id="tooltip-container-{{loop.index0 * 3}}" class="tooltip-container">
                        <a target="_blank" href="https://github.com/baehyunsol/ragit/issues/new"><svg width="18" height="18"><use href="#issue-icon"></svg></a>
                        <span id="tooltip-message-{{loop.index0 * 3}}" class="tooltip-message">
                            Report Issue
                        </span>
                    </span>
                    &nbsp;
                    <span id="tooltip-container-{{loop.index0 * 3 + 1}}" class="tooltip-container">
                        <button id="download-button-{{loop.index}}" class="download-button" onclick="toggle_download_info_{{loop.index}}()">
                            <svg width="18" height="18"><use href="#download-icon"></svg>
                        </button>
                        <span id="tooltip-message-{{loop.index0 * 3 + 1}}" class="tooltip-message">
                            Download
                        </span>
                    </span>
                    <div id="download-info-{{loop.index}}" class="download-info" style="display: none;">
                        rag model --fetch '{{model.name}}'
                        <span id="tooltip-container-{{loop.index0 * 3 + 2}}" class="tooltip-container">
                            <svg width="16" height="16" onclick="copy_download_code_{{loop.index}}()">
                                <use href="#copy-icon">
                            </svg>
                            <span id="tooltip-message-{{loop.index0 * 3 + 2}}" class="tooltip-message">
                                Copy
                            </span>
                        </span>
                    </div>
                    <script>
                        var download_info_{{loop.index}} = document.getElementById("download-info-{{loop.index}}");
                        var download_button_{{loop.index}} = document.getElementById("download-button-{{loop.index}}");
                        var is_download_info_visible_{{loop.index}} = false;

                        function toggle_download_info_{{loop.index}}() {
                            if (is_download_info_visible_{{loop.index}}) {
                                download_info_{{loop.index}}.style.display = "none";
                                download_button_{{loop.index}}.style.backgroundColor = "var(--black)";
                                download_button_{{loop.index}}.style.color = "var(--white)";
                                is_download_info_visible_{{loop.index}} = false;
                            } else {
                                download_info_{{loop.index}}.style.display = "flex";
                                download_button_{{loop.index}}.style.backgroundColor = "var(--white)";
                                download_button_{{loop.index}}.style.color = "var(--black)";
                                is_download_info_visible_{{loop.index}} = true;
                            }
                        }

                        function copy_download_code_{{loop.index}}() {
                          navigator.clipboard.writeText("rag model --fetch '{{model.name}}'");
                        }
                    </script>
                </div>
            </div>

            {% if model.explanation %}
                <hr />
                {{model.explanation}}
            {% endif %}

            <hr />
            {% if model.api_provider == 'openai' %}
                api: openai-compatible{% if model.api_url %} ({{model.api_url}}){% endif %}
            {% else %}
                api: {{model.api_provider}}
            {% endif %}
            <br />
            price: input {{model.input_price}}$, output {{model.output_price}}$
            <br />
            modality: {% if model.can_read_images %}text & image{% else %}text only{% endif %}

            {% if model.tags | length > 0 %}
                <hr />
                tags: {% for tag in model.tags %}<span class="model-tag"><a href="/ai-model?tags={{tag}}">#{{tag}}</a></span>{% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
