{% extends "base.html" %}

{% block body %}
<div class="flex-container-column">
    <div class="flex-container-lr">
        <div class="repo-name">{{name}}</div>
        <div class="clone-button-container">
            <button id="clone-button" onclick="toggle_clone_info()">Clone</button>
            <div id="clone-info" style="display: none;">rag clone http://ragit.baehyunsol.com/sample/{{name}} &nbsp; <svg id="copy-button" width="16" height="16" onclick="copy_clone_code()"><use href="#copy-icon"></svg></div>
            <script>
                function copy_clone_code() {
                    navigator.clipboard.writeText("rag clone http://ragit.baehyunsol.com/sample/{{name}}");
                }
            </script>
        </div>
    </div>
    <hr />
    <div class="section-top">
        <div class="file-viewer landscape-only">
            <code>
                {% for file_entry in file_entries %}
                    {% if file_entry.pre_line %}
                        <pre>{{file_entry.pre_line}}</pre>
                        <br />
                    {% endif %}
                    <pre>{{file_entry.prefix}}</pre><div class="file-name">{% if file_entry.type == 'file' %}<svg width="16" height="16"><use href="#file-icon"></svg>{% elif file_entry.type == 'directory' %}<svg width="16" height="16"><use href="#directory-icon"></svg>{% endif %}<a href="{{file_entry.href}}">{{file_entry.name|truncate(length=32)}}</a>{% if file_entry.anchor %}<a id="{{file_entry.anchor}}"></a>{% endif %}</div>
                    {% if file_entry.post_line %}
                        <br />
                        <pre>{{file_entry.post_line}}</pre>
                    {% endif %}
                    <br />
                {% endfor %}
            </code>
        </div>
        <div class="metadata">
            <div class="wrap">{{description}}</div>
            <div><a href="{{website}}">{{website}}</a></div>
            <hr />
            <div>Created: {{created_at|render_time}}</div>
            <div>Updated: {{updated_at|render_time}}</div>
            <div>Clones (weekly): {{clone_weekly}}</div>
            <div>Clones (total): {{clone_total}}</div>
        </div>
    </div>
    <div class="markdown">{{readme|markdown|safe}}</div>
</div>
{% endblock %}
