@import "colors";
@import "units";

.model-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model-card {
    border-radius: $round-border-medium;
    background: var(--black);
    padding: $padding-medium;
    margin: $padding-medium;
    max-width: 800px;
    width: 80%;
    line-height: 1.2;
}

.model-tag {
    border-radius: $round-border-big;
    background: var(--white);
    color: var(--black);
    padding: $padding-small;
    margin: $padding-small;

    a {
        color: var(--black);
        text-decoration: none;
    }
}
