@import "colors";
@import "units";

.model-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model-card {
    border-radius: $round-border-medium;
    background: var(--black);
    padding: $padding-medium;
    margin: $padding-medium;
    max-width: 800px;
    width: 80%;
    line-height: 1.2;

    a svg {
        color: var(--white);
    }
}

.model-list-header {
    margin-top: $padding-big;
    margin-bottom: $padding-big;
    max-width: 800px;
    width: 80%;
}

.model-tag {
    border-radius: $round-border-big;
    background: var(--white);
    color: var(--black);
    padding: $padding-small;
    margin: $padding-small;

    a {
        color: var(--black);
        text-decoration: none;
    }
}

// From here is copy-pasted from repo-index.scss.
.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $padding-medium;
    margin: $padding-medium;
    width: 50%;

    a {
        margin: $padding-small;
        padding: $padding-medium;
        border-radius: 500px;
    }

    a.unselected-tag {
        background-color: var(--black);
        color: var(--white);
    }

    a.selected-tag {
        background-color: var(--white);
        color: var(--black);
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
}

div.search-bar-long {
    display: flex;
    flex-direction: row;
    justify-content: center;

    input.submit-button {
        margin-left: $padding-small;
    }
}

form.search-bar-long {
    width: 80%;
}

button.download-button {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 500px;
}

.download-info {
    margin-top: $padding-medium;
    padding: $padding-medium;
    background-color: var(--dark);
    border-radius: $round-border-big;
    border: $border-big solid var(--gray);
    position: absolute;
    z-index: 1;
    right: 0;

    svg {
        margin-left: $padding-medium;
        cursor: pointer;
    }
}

.model-name-highlight {
    background-color: rgb(128, 128, 64);
}

#help-modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    backdrop-filter: blur(5px);

    .box {
        position: fixed;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        background-color: var(--dark);
        border: $border-medium solid var(--white);
        display: flex;
        flex-direction: column;

        .top-bar {
            cursor: pointer;
            padding: $padding-medium;
            font-size: $font-giant;
            text-align: right;
            background-color: var(--black);
            flex-shrink: 0;
        }

        .content {
            padding: $padding-medium;
            overflow: auto;
            flex: 1;
        }
    }
}
